# General
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development
.env.production
.DS_Store
*.log
*.tsbuildinfo
dist/
junit.xml

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
android/*.keystore
android/*.apk
android/*.aab
android/.idea/

# iOS
ios/**/build/
ios/**/*.xcworkspace
ios/**/*.xcodeproj/*
!ios/**/*.xcodeproj/project.pbxproj
ios/Pods/
ios/**/xcuserdata/
ios/*.mode1v3
ios/*.perspectivev3
ios/.symlinks/
ios/Profile
DerivedData/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Expo
.expo/
web-build/

# Testing
coverage/
.nyc_output/

# Editors & IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Firebase & Crashlytics
google-services.json
GoogleService-Info.plist
firebase-debug.log
crashlytics.properties

# Babel
.babelrc

# Metro
.metro/
.cache/

# macOS
*.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.directory
.trash-*